.review{
    background-color: var(--header-bg-color);
    color: var(--body-color);
    padding: 1.5rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    width: 70%;
}

.reviewHeader{
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--title-color);
    font-weight: bolder;
}
.reviewHeader h3{
    font-size: 2rem;
}
.reviewHeader p {
    font-size: 1rem;
}

.review svg {
    font-size: 3rem;
    color: var(--title-color);
    opacity: 50%;
    transform: translateY(-0.5rem);
}
.review div{
    font-size: 1rem;
    line-height: 1.2rem;
}

@media screen and (max-width: 992px) {
    .review{
        width: 90%;
    }
}