#header-container {
    display: flex;    
    background-color: linear-gradient(rgba(80, 61, 47, 0.3), rgba(80, 61, 47, 0.8));
    background-position: center;
    overflow: hidden;
    background-size: cover;
    
    color: var(--second-color);
}

#header-container.space-around {
    justify-content: space-around;
}

#branding #slogan {
    text-align: center;
}

#slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#branding {
    padding: 1rem;
    font-size: medium;
}

#branding img {
    width: 10rem;
}

#slogan h1 {
    color: var(--second-color);
    font-weight: lighter;
}

#slogan h2 {
    font-weight:normal;
}

