#header-container {
    display: flex;
    background-color: var(--header-bg-color);
    color: var(--second-color);
    border-radius: 0.5rem 0.5rem 0 0;
}

#header-container.space-around {
    justify-content: space-around;
}

#branding #slogan {
    text-align: center;
}

#branding {
    padding: 1rem;
    font-size: medium;
}

#branding img {
    width: 9rem;
}

#branding h1 {
    font-weight: lighter;
}

#slogan>h2 {
    font-weight:normal;
}

