.navbar {
  width: 100%;
}

.nav {
  display: flex;
  /* align-items: center; */
  height: var(--header-height);
  background-color: var(--first-color);
  border-radius: 0 0 0.5rem 0.5rem;

}


.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--second-color);
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--second-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
  line-height: var(--header-height);
  padding: 0 1rem;
}

.nav__link:hover {
  color: var(--body-color);
  background-color: var(--title-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

.nav__list__web {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  list-style-type: none;
}

#navbar a.active {
  background-color: var(--body-color);
  color: var(--title-color);
  border-radius: 0.5rem 0.5rem 0 0;
}